// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-brown: #8B4513; /* Marrón */
    --ion-color-brown-rgb: 139, 69, 19;
    --ion-color-brown-contrast: #ffffff;
    --ion-color-brown-contrast-rgb: 255, 255, 255;
    --ion-color-brown-shade: #7A3E12;
    --ion-color-brown-tint: #9C5930;
  }
  